@media screen and (min-width: 768px) {
    /* HEADER */
    header {
        padding: 1rem 2rem;
        flex-wrap: nowrap;
    }

    .title {
        font-size: 1.5rem;
    }

    /*Hide Hamburger button */
    .hamburger {
        display: none;
    }

    /*NAVIGATION */
    .navigation {
        display: block;
        width: auto;
        margin-left: auto;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }

    .navigation li {
        border: none;
    }

    .navigation a {
        padding: 0.75rem 1rem;
    }


    /* MAIN */
    .hero {
        max-width: 1200px;
        margin: 0 auto;
    }

    .hero img {
        width: 100%;
        height: auto;
    }

    .cta a {
        padding: 1.2rem 3rem;
        font-size: 1.5rem;
    }


    .current-events {
        font-size: 1.2rem;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .current-events img {
        width: 200px;
        height: 200px;
    }


    .weather {
        max-width: 1500px;
        margin: 2rem auto;
    }

    .weather h2 {
        text-align: center;
        margin: auto;
        padding: 1.5rem;
        font-size: 1.7rem;
    }

    .weather h2, .weather h3 {
        color: #156ea2;
    }

    #forecast-container {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .spotlights {
        grid-template-columns: repeat(3, 1fr);
    }

    /* FOOTER */
    footer {
        flex-direction: row;
        align-items: center;
        text-align: left;
        padding: 2rem;
        gap: 2rem;
    }

    .contact, .social, .info {
        flex: 0 1 auto;
    }

    .contact {
        margin-right: auto;
        font-size: 1.2rem;
    }

    .social {
        justify-content: center;
        margin: auto;
    }

    .info {
        text-align: left;
        margin-left: auto;
        font-size: 1.2rem;
    }
}