* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/***************************** HEADER *************************************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: 1px solid #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.3rem;
}


/******** HAMBURGER *******/
.hamburger {
    border: none;
    background: none;
    font-size: 2rem;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}


/******** NAVIGATION *******/
.navigation{
    display: none;
    grid-column: 1 / -1;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation a{
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    color:#fff;
    background-color: #1c1c1d;
    border-bottom: 1px solid #000; 
}

.navigation li.current{
    background-color: #eee;
}
.navigation a:hover{
    background-color: #393939;
}


h1 {
    margin: 0;
}


/***************************** MAIN *************************************/
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 10px;
}

section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2 {
    background-color: #1d1d1d;
    color: #fff;
    padding: 0.5rem;
    border-radius: 4px;
}

section img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 0;
}

/******** COURSES *********/

.course {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}

.completed {
    background-color: #434343;
    color: white;
}

.filters {
    display: flex;
    gap: .5rem;
    margin: 1rem 0;
}

.filters button {
    flex: 1;
    padding: .6rem;
    border: 1px solid #333;
    border-radius: 6px;
    background-color: #eee;
    cursor: pointer;
    font-weight: bold;
}

.filters button:hover {
    background-color: #ccc;
}



/***************************** FOOTER *************************************/
footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: solid #ccc 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}