@media screen and (min-width: 768px) {
    /************ HEADER ************/
    header {
        padding: 1rem 3rem;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        width: auto;
    }

    .navigation ul {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .navigation a {
        padding: 0.5rem 0;
    }

    .navigation a:hover {
        color: var(--main-blue--);
    }

    /************ MAIN ************/

    /***** HERO SECTION ******/
    .hero {
        padding: 5rem 3rem;
    }

    .hero img {
        max-width: 600px;
    }

    .hero h2 {
        font-size: 3rem;
        max-width: 800px;
        margin: 0 auto 1.5rem;
    }

}